/*@media all and (min-width: 480px) {
    .Login {
      padding: 60px 0;
    }
  
    .Login form {
      margin: 0 auto;
      max-width: 320px;
    }
  }*/
.loginform
{
  margin: 0 auto;
  width:20% /* value of your choice which suits your alignment */;

}
.mysection {
  display: flex;
  justify-content: center;
  align-items: center;
}